.text-center{
    text-align: center;
    color: white;
    line-height: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.text-center__sobre{
    text-align: center;
    color:black;
    line-height: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.text-center__sobre1{
    color:black;
    text-align: center;
    line-height: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.text-center__sobre2{
    text-align: center;
    color:black;
    line-height: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.text-center__sobre3{
    text-align: center;
    color:black;
    line-height: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}